@use 'variables' as *;

.modal__title-wrapper {
  width: 100%;
  padding: 0 $pad-40;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: $mobile) {
  .modal__title-wrapper {
    padding: $pad-16 $pad-20;
  }
}
