@use 'variables' as *;

.modal__button_type_narrow {
  width: unset;
  padding-left: 0;
  padding-right: 0;
  margin-left: 40px;
}

@media screen and (max-width: $mobile) {
  .modal__button_type_narrow {
    display: none;
  }
}
