@use 'variables' as *;

.modal_type_side {
  flex-direction: row;
  justify-content: flex-end;
  visibility: hidden;
  transition: all 0.5s ease-in;
}

// @media screen and (max-width: $mobile) {
//   .modal_type_side {
//     justify-content: flex-end;
//   }
// }


// стили появления модалки сбоку

.modal_type_side .modal__container_type_side {
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.5s ease-in;
}

.modal_type_side.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal_type_side.modal_opened .modal__container_type_side {
	transform: translateX(0);
	opacity: 1;
}






// #toggle:checked ~ div {
//   animation-name: open;
//   animation-duration: 2s;
//   animation-iteration-count: 1;
//   animation-direction: normal;
//   animation-timing-function: ease-out;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
// #toggle:not(:checked) ~ div {
//   display: none;
// }
// @keyframes open {
//   0% {
//     display: block;
//     opacity: 0;
//     visibility: hidden;
//   }
//   100% {
//     display: block;
//     opacity: 1;
//     visibility: visible;
//   }
// }
