@use 'variables' as *;

.catalog__sidebar {
  width: 370px;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@media screen and (max-width: $tablet) {
  .catalog__sidebar {
    min-height: calc(100vh - 68px);
  }
}

@media screen and (max-width: $mobile) {
  .catalog__sidebar {
    display: none;
  }
}
