@use 'mixins' as *;

.general-events__tags {
  @include flex-center-row-mixin;
  flex-wrap: wrap;
  max-width: 65%;
  row-gap: 16px;
  column-gap: 12px;
  margin-bottom: 40px;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .general-events__tags {
    max-width: 320px;
    row-gap: 12px;
    margin-right: 0;
  }
}
