@use 'variables' as *;
@use 'mixins' as *;

.button {
  display: flex;
  min-width: 164px;
  max-height: 48px;
  padding: $pad-12 $pad-24;
  justify-content: center;
  align-items: center;
  gap: $gap-8;
  border: none;
  border-radius: $radius-btn-26;
  box-sizing: border-box;
  color: $dark-primary;
  background: transparent;
  @include btn-text-desktop;
  transition: all .2s ease-in-out .2s;
}

.button:hover {
  color: $hover;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  background: $light-secondary;
  color: $dark-secondary;
  border: none;
}

@media screen and (max-width: 576px) {
  .button {
    min-width: 148px;
    max-height: 44px;
    padding: $pad-12 $pad-20;
    gap: $gap-4;
    @include btn-text-mobile;
  }
}
