.header__hamburger-checkbox {
  position: absolute;
  display: block;
  height: 20px;
  width: 26px;
  top: center;
  right: 20px;
  z-index: 10000;
  opacity: 0;
  cursor: pointer;
}

.header__hamburger-checkbox:checked + div > .header__hamburger-line_line1 {
  transform: rotate(45deg);
}

.header__hamburger-checkbox:checked + div > .header__hamburger-line_line2 {
  transform:  scaleY(0);
}

.header__hamburger-checkbox:checked + div > .header__hamburger-line_line3 {
  transform: rotate(-45deg);
}

.header__hamburger-checkbox:checked ~ .header-mobile-active {
  transform: none;
  background-color: red;
}

