.page {
  /*max-width: 1440px;*/
  margin: 0 auto;
  background-color: #fcfaf7;
  font-family: 'TT Firs Neue', Arial, sans-serif;
  color: #0c0b0e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}



/* @media screen and (max-width: 1439px) {
  .page {
    max-width: 100%;
  }
} */
