.about {
  padding: 30px 40px 30px;
  color: #3B3748;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
}

@media all and (max-width: 767px) {
  .about {
    padding: 9px 20px 40px;
  }
}

