@use 'variables' as *;

.about {
  padding: 30px 40px 80px;
  color: $dark-primary;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

}

@media all and (max-width: $mobile) {
  .about {
    padding: 9px 20px 40px;
  }
}

