@use 'variables' as *;
@use 'mixins' as *;

.modal__container-close {
  font: $icon-text-desktop;
  padding: $pad-12;
  border-radius: $radius-100;
  background-color: $light-primary;
  @include position-absolute-mixin(20px, false, false, 20px, false);
  cursor: pointer;
}
