.part__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (min-width: 1024px) {
    .part__list{
        padding: 0 calc(50% - 472px);
        padding-left: 240px;
    }
}