@use 'variables' as *;

.tag-filter_type_selected {
  background: $color-primary;
  color: $light-primary;
  border: $border-none;

  &:hover {
    background: $color-primary;
    color: $light-primary;
    border: $border-none;
    cursor: default;
  }
}
