@use 'variables' as *;

.info-section__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

@media all and (max-width: $mobile) {
  .info-section__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
