@use 'mixins' as *;
@use 'variables' as *;

.modal__container {
  @include flex-column-mixin;
  @include position-absolute-mixin(0, false, false, -700px, false);
  box-sizing: border-box;
  max-width: 700px;
  box-shadow: $drop-shadow;
  transition: right 0.5s ease;
}
