@use 'mixins' as *;
@use 'variables' as *;

.modal__container {
  margin: auto;
  position: relative;
  @include flex-column-mixin;
  background-color: $light-primary;
  box-sizing: border-box;
  box-shadow: $drop-shadow;

  opacity: 0;
}

@media screen and (max-width: $mobile) {
  .modal__container {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
  }
}
