.general-events__button-purple {
  all: unset;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 26px;
  background-color: #7100FF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #FCFAF7;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .general-events__button-purple {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 22px;
  }
}
