@use 'variables' as *;
@use 'mixins' as *;

.popup_close {
  @include position-absolute-mixin(24px, false, false, 20px, false);
  width: 20px;
  height: 20px;
  @include background("../../../images/icons/close-icon.svg");
  cursor: pointer;
}
