@use 'variables' as *;
@use 'mixins' as *;

.amount-controls__input {
  padding: $pad-12;
  width: 96px;
  border: $border-bold-primary;
  box-sizing: border-box;
  @include btn-text-desktop;
  text-align: center;
  color: $dark-secondary;
  background: $white;
}

@media screen and (max-width: 576px) {
  .amount-controls__input {
    @include btn-text-mobile;
    width: 48px;
  }
}

