@use 'variables' as *;
@use 'mixins' as *;

.amount-controls__input {
  padding: $pad-12;
  min-width: 96px;
  width: 96px;
  max-height: 48px;
  border: $border-bold-primary;
  box-sizing: border-box;
  @include text-desktop;
  text-align: center;
  color: $dark-secondary;
  background: $white;
  -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

@media screen and (max-width: $mobile) {
  .amount-controls__input {
    @include text-mobile;
    min-width: 48px;
    width: 48px;
    max-height: 44px;
  }
}

.amount-controls__input::-webkit-outer-spin-button,
.amount-controls__input::-webkit-inner-spin-button {
	display: none;
}
