@keyframes openHeaderDropdown {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    display: flex;
    visibility: visible;
  }
}


.header__form-city_opened {
  display: flex;
  animation: openHeaderDropdown 0.5s forwards;
}
