@use 'variables' as *;

.participants__heading {
  width: 100%;
  padding: 0 $pad-40;
  box-sizing: border-box;
}

@media screen and (max-width: $mobile) {
  .participants__heading {
    border-bottom: $border-light;
    padding: $pad-40 $pad-20 $pad-20;
  }
}

// @media screen and (min-width: 1024px) {
//   .participants__heading{
//       border-bottom: none;
//       max-width: 310px;
//       padding: 0 0 24px 240px;
//   }
// }
