@mixin position-absolute-mixin($top, $left, $bottom, $right, $z-index) {
  position: absolute;
  @if $top {
    top: $top
  }
  @if $left {
    left: $left;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $right {
    right: $right;
  }
  @if $z-index {
    z-index: $z-index;
  }
}

// Абсолютное позиционирование, для использования необходимо
// в вашем .scss файле импортировать mixin @use 'mixins' as *;
// затем используйте внутри нужного класса @include position-absolute-mixin(10, 10, false, false, 1)
// mixin принимает 5 аргументов, top, left, bottom, right, z-index (именно в этом порядке!)
// используйте false, если в аргумент ничего передавать не надо!
