.form__container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

@media screen and (min-width: 1024px) {
<<<<<<< HEAD:src/blocks/form/__container/form__container.scss
    .form__container{
=======
    .part__content{
        flex-direction: column;
        padding: 0 calc(50% - 472px);
>>>>>>> develop:src/blocks/part/__content/part__content.scss
        height: fit-content;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 calc(50% - 472px);
    }
}