@use 'variables' as *;

.footer__link_type_mail {
  color: $color-primary;
}

.footer__link_type_mail::after {
  display: none;
}

@media all and (max-width: 950px) {
  .footer__link_type_mail {
    font-weight: 400;
  }
}
