@use 'variables' as *;
@use 'mixins' as *;

.cards__item {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  max-width: 320px;
  height: 388px;
  // border: $border-light;
  background-color: $light-primary;
  border-radius: $radius-large;
  overflow: hidden;
  font: $text-desktop;
  line-height: 20px;
  cursor: pointer;
  @include flex-column-mixin;
  flex-shrink: 0;
}

@media screen and (max-width: $mobile) {
  .cards__item {
    border-radius: $radius-none;
    max-width: 360px;
    height: 398px;
  }
}

