@use 'variables' as *;

.participants__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  padding-top: 40px;
  box-sizing: border-box;
  max-width: 960px;
  margin: $centered;
}

@media screen and (max-width: $mobile) {
  .participants__container {
    width: 100%;
    gap: 0;
    padding-top: 0;
    height: fit-content;
    justify-content: space-between;
  }
}

// @media screen and (min-width: 1024px) {
//   .participants__container{
//       height: fit-content;
//       justify-content: space-between;
//   }
// }

.section-constraints {
  margin: $centered;
  max-width: $desktop-max;
  box-sizing: border-box;
}

@media all and (max-width: $mobile) {
  .section-constraints {
    max-width: 100%;
  }
}
