.participants__container{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

@media screen and (min-width: 1024px) {
    .participants__container{
        height: fit-content;
        justify-content: space-between;
    }
}