@use 'variables' as *;

.tab-switcher__button {
  min-width: max-content;
}

.tab-switcher__button:disabled {
  pointer-events:all;
  cursor: pointer;
  color: $dark-secondary;
  background-color: $light-secondary;
}

.tab-switcher__button {
  pointer-events: none;
  cursor:none;
}
