@use 'mixins' as *;

.part__subtitle{
    @include font-settings(32px, normal, 500, 36px);
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .part__subtitle{
        @include font-settings(48px, normal, 500, 52px);
        letter-spacing: -0.48px;
        padding-bottom: 24px;
        width: 500px;
    }
}