@use 'variables' as *;

.form__upload-container {
    display: flex;
    flex-direction: column;
    height: 220px;
    padding: 0px 70px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: $radius-small;
    border: $border-bold;
    background: $light-primary;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 1024px) {
    .form__upload-container{
        width: 532px;
        box-sizing: border-box;
    }
}

.form__upload-container .form__input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.form__upload-container .form__label-file {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.form__upload-container .form__label-file:hover {
    cursor: pointer;
    opacity: .5;
}

.form__upload-container .form__label-file::before {
    content: '';
    background: url(../../../images/icons/upload.svg) no-repeat center;
    display: block;
    margin-bottom: 12px;
    width: 24px;
    height: 24px;
}