@use 'variables' as *;

.additional-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: $pad-160 $pad-40;
}

@media all and (max-width: $mobile) {
  .additional-section {
    padding: $pad-40 $pad-20;
  }
}

// .error-404 {
//   max-width: 880px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

// }

// @media all and (max-width: $mobile) {
//   .error-404 {
//     flex-direction: column;
//     padding: 40px 20px;
//   }
// }
