@use 'variables' as *;

.preview__description {
  margin: 0;
  color: $dark-primary;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
