.modal__img {
  display: block;
  width: 700px;
  height: 320px;
  object-fit: cover;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .modal__img {
    width: 360px;
    height: 202px;
  }
}
