.footer__illustration {
  background-image: url("../../../images/footer_illustration.svg");
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 193px;
  height: 193px;
}

@media all and (max-width: 1150px) {
  .footer__illustration {
    display: none;
  }
}
