@use 'variables' as *;

.gallery__slider-line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
  padding-right: $pad-20;
}

@media all and (max-width: $mobile) {
  .gallery__slider-line {
    --slider-line-width: 747px;
    padding: 0;
    gap: 0;
    display: flex;
    align-items: center;
    transition: all .7s;
    width: var(--slider-line-width);
  }
}
