.about__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: -1px;
}

@media all and (max-width: 767px) {
  .about__title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0;
  }
}