.general-events__container {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 80px 40px 0 40px;
  color: #3B3748;
}

.general-events__container:last-of-type {
  padding: 32px 0 80px 40px;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .general-events__container {
    max-width: 320px;
    padding: 40px 20px;
  }

  .general-events__container:last-of-type {
    padding: 28px 0 40px 20px;
  }
}
