.additional-section__image_type_404 {
  transform: scale(-1, 1);
  padding: 0 20px;
}

@media all and (max-width: 767px) {
  .additional-section__image {
    transform: scale(1, 1);
    width: 100%;
    height: auto;
    padding: 0;
  }
}