@use 'variables' as *;

.additional-section__image_type_404 {
  transform: scale(-1, 1);
  padding: 0 $pad-20;
}

@media all and (max-width: $mobile) {
  .additional-section__image_type_404 {
    transform: scale(1, 1);
    width: 100%;
    height: auto;
    padding: 0;
  }
}
