@use 'variables' as *;

.tag-filter__icon {
  font: $icon-text-desktop;
  display: block;
  &:hover {
    cursor: pointer;
    background: $color-primary;
    color: $light-primary;
    border: $border-none;
  }
}

@media screen and (max-width: $mobile) {
  .tag-filter__icon {
    font: $icon-text-mobile;
  }
}
