@use 'variables' as *;

.label_type_radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    min-height: 48px;
    box-sizing: border-box;
    padding: 0 $pad-24;
    border-radius: $radius-large;
    border: $border-bold;
    transition: .3s;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: $mobile) {
  .label_type_radio {
    min-height: 44px;
    padding: 0 $pad-20;
  }
}

.label_type_radio:has(input[type=radio]:checked) {
    background: $color-primary;
    border-color: $color-primary;
    color: $light-primary;
}

.label_type_radio:has(input[type=radio]:checked)::after {
    content: '';
    background: url(../../../images/icons/check.svg);
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
}

@media(hover:hover){
    .label_type_radio:hover{
        opacity: .5;
    }
}
@media(hover:none){
    .label_type_radio:active{
        opacity: .5;
    }
}
