@use '_variables' as *;
.header__logo-and-location {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__logo-and-location .header__button_city-selected {
  background-color: $color-accident;
}
