<!DOCTYPE html>
<html lang="RU" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="написать">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Евгений Тисленко, Никита Сазонов, Алексей Ефимов, Андрей Марахин, Георгий Медведский, Дмитрий Разумов">
    <title>Страница не существует</title>
    <link rel="icon" href="" type="">
</head>

<body class="page">
  <%= require('html-loader!./header.html').default %>

    <main class="content">
      <section class="additional-section">
        <div class="additional-section__wrapper">
          <div class="additional-section__container">
            <h1 class="additional-section__title">ошибка 404</h1>
            <p class="additional-section__subtitle">похоже, такой страницы не существует</p>
            <a class="additional-section__button button button_type_border" href="../index.html">на главную</a>
          </div>
          <img class="additional-section__image additional-section__image_type_404" src="<%=require('../images/illustration404.svg')%>" alt="ошибка">
        </div>
      </section>
      <section class="general-events">
        <div class="general-events__container">
          <h2 class="general-events__title">Просто приятно посетить</h2>
        </div>
        <div class="general-events__scroll">
          <div class="cards general-events_cards">
            <article class="cards__item">
              <img class="cards__item-img" src="https://s3-alpha-sig.figma.com/img/7757/64eb/a164910d18475e81c5fd67bd8bb24572?Expires=1693180800&Signature=ptJFuK39u7G9tFyu8qxXFDrACABLRMX5mPM3Di-wuPgtHWINFWz5NAsxJKFFYFU0rzdtxNWtdTVctiZw~mfnxKA0AAGulHKeIXYJu91AV9VkS9h8CFCTyjPZY5cZM27outa2KaEsTX9KW1LYLaM9aB9TthiGH4ZhNd4yVHXyXxBw3mNYxVo703f51GkvzSRSdaiGHYpmYcjv9KSEWJrGtqeRAmyF2GgQWJIb7FiUt-j8dwYH0ZFPolAFsbEtnIPpOaCM39L7ixkh35O34hVeepzH2DrWk4l3UwOqyygAEO5Z0~p4B0Ep~9gHtMA-eUcmygTiV82ChAgFlIls9uJ9wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="Изображение карточки">
              <div class="cards__item-content">
                <div class="cards__item-data">
                  <p class="cards__item-text">лекция</p>
                  <p class="cards__item-text">1 мая, 12:30-13:50</p>
                </div>
                <div class="cards__item-info">
                  <h2 class="cards__item-title">идентичность: почему нам сложно меняться?</h2>
                  <p class="cards__item-description">лектор: Мария Бархатова</p>
                </div>
                <div class="cards__item-address">
                  <p class="cards__item-text">улица Блохина, 22</p>
                  <p class="cards__item-text">+ ещё 3</p>
                </div>
              </div>
              <div class="cards__item-like">
                <button class="cards__item-btn-like"></button>
              </div>
            </article>
            <article class="cards__item">
              <img class="cards__item-img" src="https://s3-alpha-sig.figma.com/img/7757/64eb/a164910d18475e81c5fd67bd8bb24572?Expires=1693180800&Signature=ptJFuK39u7G9tFyu8qxXFDrACABLRMX5mPM3Di-wuPgtHWINFWz5NAsxJKFFYFU0rzdtxNWtdTVctiZw~mfnxKA0AAGulHKeIXYJu91AV9VkS9h8CFCTyjPZY5cZM27outa2KaEsTX9KW1LYLaM9aB9TthiGH4ZhNd4yVHXyXxBw3mNYxVo703f51GkvzSRSdaiGHYpmYcjv9KSEWJrGtqeRAmyF2GgQWJIb7FiUt-j8dwYH0ZFPolAFsbEtnIPpOaCM39L7ixkh35O34hVeepzH2DrWk4l3UwOqyygAEO5Z0~p4B0Ep~9gHtMA-eUcmygTiV82ChAgFlIls9uJ9wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="Изображение карточки">
              <div class="cards__item-content">
                <div class="cards__item-data">
                  <p class="cards__item-text">лекция</p>
                  <p class="cards__item-text">1 мая, 12:30-13:50</p>
                </div>
                <div class="cards__item-info">
                  <h2 class="cards__item-title">идентичность: почему нам сложно меняться?</h2>
                  <p class="cards__item-description">лектор: Мария Бархатова</p>
                </div>
                <div class="cards__item-address">
                  <p class="cards__item-text">улица Блохина, 22</p>
                  <p class="cards__item-text">+ ещё 3</p>
                </div>
              </div>
              <div class="cards__item-like">
                <button class="cards__item-btn-like"></button>
              </div>
  <main>

    <section class="error-404">
      <img class="error-404__image" src="<%=require('../images/illustration404.svg')%>" alt="ошибка">
      <div class="error-404__container">
        <h1 class="error-404__title">ошибка 404</h1>
        <p class="error-404__subtitle">похоже, такой страницы не существует</p>
        <button class="button button_type_border">на главную</button>
      </div>
    </section>

    <section class="popular-events">
      <div class="popular-events__container popular-events__constraints">
        <h2 class="popular-events__title">Просто приятно посетить</h2>
        <!-- подгружаем часть секции из шалонного html файла со скроллом карточек -->
        <!-- ВНИМАНИЕ! при клике на карточку тут предлагаю перебрасывать на страницу Каталог и открывать большую модалку там -->
        <%= require('html-loader!./particle-events-scroll.html').default %>
        <a href="./catalog.html" class="popular-events__button button button_type_filled">смотреть все события</a>
      </div>
    </section>

  </main>
    <!-- нужно подгрузить футер с модификатором для белого фона -->
    <%= require('html-loader!./footer.html').default %>
</body>
</html>
