<!DOCTYPE html>
<html lang="RU" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="написать">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Евгений Тисленко, Никита Сазонов, Алексей Ефимов, Андрей Марахин, Георгий Медведский, Дмитрий Разумов">
    <title>Страница не существует</title>
    <link rel="icon" href="" type="">
</head>

<body class="page page_id_404">
  <%= require('html-loader!./header.html').default %>

  <main>

    <section class="additional-section">
      <div class="additional-section__wrapper">
        <div class="additional-section__container">
          <h1 class="additional-section__title">ошибка 404</h1>
          <p class="additional-section__subtitle">похоже, такой страницы не существует</p>
          <a class="additional-section__button button button_type_border" href="../index.html">на главную</a>
        </div>
        <img class="additional-section__image additional-section__image_type_404" src="<%=require('../images/illustration404.svg')%>" alt="ошибка">
      </div>
    </section>

    <section class="popular-events">
      <div class="popular-events__container popular-events__constraints">
        <h2 class="popular-events__title">Просто приятно посетить</h2>
        <!-- подгружаем часть секции из шалонного html файла со скроллом карточек -->
        <!-- ВНИМАНИЕ! при клике на карточку тут предлагаю перебрасывать на страницу Каталог и открывать большую модалку там -->
        <%= require('html-loader!./particle-events-scroll.html').default %>
        <a href="./catalog.html" class="popular-events__button button button_type_filled">смотреть все события</a>
      </div>
    </section>

    <%= require('html-loader!./particle-modal-event.html').default %>

  </main>
    <!-- нужно подгрузить футер с модификатором для белого фона -->
    <%= require('html-loader!./footer.html').default %>
</body>
</html>
