<!DOCTYPE html>
<html lang="RU" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="написать">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Евгений Тисленко, Никита Сазонов, Алексей Ефимов, Андрей Марахин, Георгий Медведский, Дмитрий Разумов">
    <title>Участникам</title>
    <link rel="icon" href="" type="">
</head>

<body class="page page_id_for-participants">
  <%= require('html-loader!./header.html').default %>

  <main class="page__grow">
    <h1 class="participants__title participants__title_type_desktop">Стать участником</h1>

    <!-- <section class="participants__content"> -->

      <section class="participants__container participants__container_type_content">
        <!-- ниже - альтеративный заголовок, который виден только до начала формы в мобиле -->
        <p class="participants__title participants__title_type_mobile-start">Стать участником</p>

        <div class="participants__heading">
          <h2 class="participants__subtitle">как участвовать?</h2>
        </div>

        <ul class="participants__list">
          <li class="question-block">
            <div class="question-block__header">
              <p class="question-block__numbering">1</p>
              <h3 class="question-block__title">выбор категории</h3>
            </div>
            <p class="question-block__text">Определите, как вы хотите поддержать акцию: продавать напитки, блюда, провести мастер-класс или каким-то другим способом</p>
          </li>
          <li class="question-block">
            <div class="question-block__header">
              <p class="question-block__numbering">2</p>
              <h3 class="question-block__title">фото и описание</h3>
            </div>
            <p class="question-block__text">Подготовьте описание и фото вашего заведения. Это нужно для создания карточки в нашем каталоге событий</p>
          </li>
          <li class="question-block">
            <div class="question-block__header">
              <p class="question-block__numbering">3</p>
              <h3 class="question-block__title">ссылки и соцсети</h3>
            </div>
            <p class="question-block__text">Опубликуйте ссылку на вашу карточку в соцсетях, расскажите у себя на сайте, чтобы больше людей узнали о вашем участии</p>
          </li>
          <li class="question-block">
            <div class="question-block__header">
              <p class="question-block__numbering">4</p>
              <h3 class="question-block__title">координатор</h3>
            </div>
            <p class="question-block__text">Далее с вами свяжется координатор акции, который будет помогать по любым вопросам до и во время акции</p>
          </li>
          <li class="question-block">
            <div class="question-block__header">
              <p class="question-block__numbering">5</p>
              <h3 class="question-block__title">перевод средств</h3>
            </div>
            <p class="question-block__text">После акции переведите собранные пожертвования в Ночлежку через сайт или по безналичному расчету</p>
          </li>
        </ul>

        <div class="participants__buttons-block fixed-bar fixed-bar__align-right">
          <button id="open-form-btn" class="participants__button button button_type_filled" type="button">заполнить форму</button>
        </div>

      </section>


      <!-- форма обернута в контейнер, чтобы задать геометрию секции без необходимости делать это в блоке form -->
      <section class="participants__container participants__container_type_form hidden">

        <form class="form hidden">

          <fieldset class="form__step hidden" id="step-1">
            <div class="form__container">
              <div class="form__heading">
                <legend class="form__steps">шаг 1 из 4</legend>
                <legend class="form__title">выберите категорию</legend>
              </div>
              <div class="form__options">
                <input type="radio" id="pref1" class="form__input" name="preference" value="кафе/бар/ресторан" checked>
                <label class="form__label" for="pref1">кафе/бар/ресторан</label>

                <input type="radio" id="pref2" class="form__input" name="preference" value="мастер-класс/лекция">
                <label class="form__label" for="pref2">мастер-класс/лекция</label>

                <input type="radio" id="pref3" class="form__input" name="preference" value="посиделки/вечеринка">
                <label class="form__label" for="pref3">посиделки/вечеринка</label>

                <input type="radio" id="pref4" class="form__input" name="preference" value="другое">
                <label class="form__label" for="pref4">другое</label>
              </div>
            </div>
            <!-- <div class="participants__buttons-block">
              <input type="button" class="form__button" value="отмена">
              <input type="button" class="form__button form__button_active" value="продолжить">
            </div> -->
            <div class="participants__buttons-block fixed-bar fixed-bar__align-right">
              <button class="participants__button button button_type_border" type="button" data-action="cancel">отмена</button>
              <button class="participants__button button button_type_filled" type="button" data-action="continue">продолжить</button>
            </div>
            <!-- ВНИМАНИЕ: в десктопе и мобиле отличаются текстовки кнопок - уточню, надо ли это делать -->

          </fieldset>

          <fieldset class="form__step hidden" id="step-2">
            <div class="form__container">
              <div class="form__heading">
                <legend class="form__steps">шаг 2 из 4</legend>
                <legend class="form__title">заполните форму</legend>
                <p class="form__list-description">Для участия вы можете выбрать:</p>
                <ul class="form__list">
                  <li class="form__list-item">
                      определенную позицию из меню
                  </li>
                  <li class="form__list-item">
                      группу позиций
                  </li>
                  <li class="form__list-item">
                      процент от продаж определенных позиций или всего меню
                  </li>
                </ul>
              </div>
              <div class="form__right-column">
                <div class="form__options form__heading">
                  <input type="radio" id="pref1" class="form__input" name="preference-checked" value="кафе/бар/ресторан" checked>
                  <label class="form__label" for="preference-checked">кафе/бар/ресторан</label>
                </div>
                <div class="form__fields">
                  <label for="town" class="form__label">город</label>
                  <select name="town" id="town" class="form__input">
                    <option value="Москва">Москва</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Сочи">Сочи</option>
                    <option value="Калуга">Калуга</option>
                    <option value="Екатеринбург">Екатеринбург</option>
                  </select>

                  <label class="form__label" for="place">название заведения</label>
                  <input class="form__input" type="text" name="place" id="place" placeholder="введите название заведения">

                  <label class="form__label" for="name">контактное лицо</label>
                  <input class="form__input" type="text" name="name" id="name" placeholder="введите ФИО">

                  <label class="form__label" for="tel">телефон для связи с организатором</label>
                  <input class="form__input" type="tel" name="tel" id="tel" value="+7(">

                  <label class="form__label" for="about">описание</label>
                  <textarea class="form__input" name="about" id="about" cols="30" rows="4" placeholder="Укажите, что из меню
                  будет принимать участие в акции"></textarea>
                </div>
              </div>
            </div>
            <!-- <div class="participants__buttons-block">
              <input type="button" class="form__button" value="назад">
              <input type="button" class="form__button" value="продолжить">
            </div> -->
            <div class="participants__buttons-block fixed-bar fixed-bar__align-right">
              <button class="participants__button button button_type_border" type="button" data-action="back">отмена</button>
              <button class="participants__button button button_type_filled" type="button" data-action="continue">продолжить</button>
            </div>
          </fieldset>

          <fieldset class="form__step hidden" id="step-3">
            <div class="form__container">
              <div class="form__heading">
                <legend class="form__steps">шаг 3 из 4</legend>
                <legend class="form__title">укажите контакты и часы работы</legend>
                <p class="form__list-description">Эти данные появятся в описании карточки вашего мероприятия в нашем каталоге событий</p>
              </div>
              <div class="form__right-column">
                <div class="form__fields">
                  <label class="form__label" for="time">часы работы заведения</label>
                  <input class="form__input" type="text" name="time" id="time" placeholder="например: 10:00-13:00, 13:00-19:00">

                  <label class="form__label" for="address">адрес заведения</label>
                  <input class="form__input" type="text" name="address" id="address" placeholder="каждый адрес с новой строки">

                  <label class="form__label" for="tel-org">номер телефона заведения</label>
                  <input class="form__input" type="tel" name="tel-org" id="tel-org" value="+7(">

                  <label class="form__label" for="link">ссылка на сайт</label>
                  <input class="form__input" type="url" name="link" id="link" value="https://"></input>

                  <label class="form__label" for="link-soc">ссылки на соцсети</label>
                  <input class="form__input" type="url" name="link-soc" id="link-soc" placeholder="каждую ссылку с новой строки"></input>

                  <label class="form__label" for="about-org">описание</label>
                  <textarea class="form__input" name="about-org" id="about-org" cols="30" rows="5" placeholder="напишите небольшое приглашение своим посетителям.
                  Людям нравятся простые обращения, дружественный тон"></textarea>
                </div>
              </div>
            </div>
              <!-- <div class="participants__buttons-block">
                  <input type="button" class="form__button" value="назад">
                  <input type="button" class="form__button" value="продолжить">
              </div> -->
              <div class="participants__buttons-block fixed-bar fixed-bar__align-right">
                <button class="participants__button button button_type_border" type="button" data-action="back">отмена</button>
                <button class="participants__button button button_type_filled" type="button" data-action="continue">продолжить</button>
              </div>
          </fieldset>

          <fieldset class="form__step hidden" id="step-4">
            <div class="form__container">
              <div class="form__heading">
                <legend class="form__steps">шаг 4 из 4</legend>
                <legend class="form__title">добавление фото</legend>
                <p class="form__list-description">Как правило, профессиональные фото выглядят более привлекательно.</p>
                <p class="form__list-description">Технические требования:</p>

                <ul class="form__list">
                  <li class="form__list-item">
                        формат: jpeg
                  </li>
                  <li class="form__list-item">
                        вес: не более 5 МБ
                  </li>
                  <li class="form__list-item">
                        альбомная ориентация
                  </li>
                  <li class="form__list-item">
                        соотношение сторон: 16:9
                  </li>
                  <li class="form__list-item">
                        ширина не менее 1600 пикселей
                  </li>
                </ul>
              </div>
              <div class="form__right-column">
                <div class="form__fields">
                  <div class="form__upload-container">
                    <label class="form__label-file" for="file">загрузить с устройства</label>
                    <input class="form__input-file" type="file" name="file" id="input-file" accept=".jpeg">
                  </div>
                </div>
              </div>
            </div>
              <!-- <div class="participants__buttons-block">
                <input type="button" class="form__button" value="назад">
                <input type="button" class="form__button" value="завершить">
              </div> -->
              <div class="participants__buttons-block fixed-bar fixed-bar__align-right">
                <button class="participants__button button button_type_border" type="button" data-action="back">отмена</button>
                <button class="participants__button button button_type_filled" type="submit" data-action="submit">продолжить</button>
              </div>
          </fieldset>

        </form>
      </section>

    <!-- </section> -->

  </main>

    <%= require('html-loader!./footer.html').default %>

</body>
</html>
