.logo-section__container {
  max-width: 1440px;
  min-height: 720px;
  
  background-image: url('../../../images/main-logo.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  row-gap: 8px;
  box-sizing: border-box;
}

@media all and (max-width: 767px) {
  .logo-section__container {
    background-image: url('../../../images/main-logo-mobile.svg');
    aspect-ratio: 1/2;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
}