@use 'variables' as *;

.event {
  background-color: $light-primary;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: scroll;
  color: $dark-primary;
}

.event::-webkit-scrollbar {
  width: 0;
}

.event::-webkit-scrollbar-track {
  background-color: $light-primary;
  border-radius: $radius-100;
}

.event::-webkit-scrollbar-thumb {
  background-color: $color-primary-transparent;
  border-radius: $radius-100;
}
