@use 'variables' as *;
@use 'mixins' as *;

.geo__list-container_type_mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  min-width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 0;
  border-radius: unset;
  background-color: unset;
  box-shadow: unset;

  position: static;

  // visibility: hidden;
  // opacity: 0;
  // transition-property: opacity, visibility;
  // transition-duration: 0.3s, 0s;
  // transition-delay: 0s, .5s;
}
