@use 'variables' as *;

.modal__wrapper-for-side {
  margin: $centered;
  max-width: $desktop-max;
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: $mobile) {
  .modal__wrapper-for-side {
    max-width: 100%;
  }
}
