.cards__item-content_mobile {
  display: none;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #96949E;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .cards__item-content_mobile {
    display: block;
  }
}
