@use 'variables' as *;
@use 'mixins' as *;

.form__label {
  @include text-desktop;
  color: $dark-secondary;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $pad-24;
}

@media screen and (max-width: $mobile) {
  .form__label {
    @include text-mobile;
    padding: 0 $pad-20;
  }
}
