@use 'variables' as *;

.field {
    border: $border-bold;
    background: var(--white, #FFF);
    border-radius: 22px;
    padding: 12px 20px;
}

.field[type=radio] {
    display: none;
}

.field:focus {
    outline-color: $color-primary;
}

@media screen and (min-width: 1024px) {
    .field{
        box-sizing: border-box;
    }
}
