.header__button_want-to-go {
  background-color:#FFD400;
  height: 48px;
  display: flex;
  align-items: center;
  margin-right: 32px;
  cursor: pointer;
}

.header__button_want-to-go > span {
  margin-left: 8px;
}
