@use 'mixins' as *;

.general-events__title {
  @include h2-desktop;
  line-height: 52px;
  text-transform: lowercase;
  max-width: 840px;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .general-events__title {
    font-size: 32px;
    line-height: 36px;
  }
}
