@use 'variables' as *;

.form__radio-group-wrapper_type_scenario-selected {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: $pad-20;
  border-bottom: $border-light;
  margin-bottom: 20px;
}

@media screen and (max-width: $mobile) {
  .form__radio-group-wrapper_type_scenario-selected {
    margin-bottom: 0;
  }
}
