@use 'variables' as *;

.header__menu-item {
  width: 100%;
  padding: $pad-12;
}

@media screen and (max-width: $tablet) {
  .header__menu-item {
    box-sizing: border-box;
    padding: $pad-12 $pad-20;
    text-align: left;
  }
}
