.general-events__scroll {
  overflow-x: scroll;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.general-events__scroll::-webkit-scrollbar {
  height: 4px;
}

.general-events__scroll::-webkit-scrollbar-track {
  background-color:  #FCFAF7;
  border-radius: 100px;
  margin-right: 40px;
}

.general-events__scroll::-webkit-scrollbar-thumb {
  background-color: #7100FF;
  border-radius: 100px;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .general-events__scroll {
    max-width: 320px;
    padding: 20px 0;
  }

  .general-events__scroll::-webkit-scrollbar-track {
    margin-left: 20px;
    margin-right: 20px;
  }
}
