@use 'variables' as *;

.form_type_modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: unset;
  flex-grow: 1;
  position: relative;
  gap: 32px;
}

@media screen and (max-width: $mobile) {
  .form_type_modal {
    gap: 16px;
  }
}
