@use 'variables' as *;

.figures__container {
  aspect-ratio: 17/9;
  background-image: url('../../../images/figures_desktop.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: $mobile) {
  .figures__container {
    aspect-ratio: auto;
    background-image: none;
    align-items: center;
  }
}

