@use 'variables' as *;

.catalog__header {
  width: 100%;
  height: 88px;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: $pad-20 $pad-40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-left: $border-light;
  background-color: $light-primary;
  z-index: 1;
}

@media screen and (max-width: $tablet) {
  .catalog__header {
    height: 68px;
  }
}

@media screen and (max-width: $aux-1023) {
  .catalog__header {
    padding: $pad-20 $pad-20;
  }
}

@media screen and (max-width: $mobile) {
  .catalog__header {
    gap: 8px; // может убрать, чтобы не было горизонтального скролла на 320
    padding: $pad-20 $pad-12;
    border: unset;
  }
}
