@use 'variables' as *;

[class^="icon-"]:before, [class*=" icon-"]:before {
  font: $icon-text;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-burger:before { content: '\e800'; }
.icon-cross:before { content: '\e801'; }
.icon-calendar:before { content: '\e802'; }
.icon-list:before { content: '\e803'; }
.icon-clip:before { content: '\e804'; }
.icon-settings-sliders:before { content: '\e805'; }
.icon-link:before { content: '\e807'; }
.icon-plus:before { content: '\e808'; }
.icon-search:before { content: '\e809'; }
.icon-menu-dots-vertical:before { content: '\e80a'; }
.icon-marker:before { content: '\e80b'; }
.icon-pointer:before { content: '\e80c'; }
.icon-trash:before { content: '\e80d'; }
.icon-caret-down:before { content: '\e80e'; }
.icon-caret-up:before { content: '\e80f'; }
.icon-angle-small-down:before { content: '\e810'; }
.icon-angle-small-up:before { content: '\e811'; }
.icon-to-top:before { content: '\e812'; }
.icon-cross-small:before { content: '\e813'; }
.icon-copy:before { content: '\e814'; }
.icon-call:before { content: '\e815'; }
.icon-warning:before { content: '\e816'; }
.icon-cloud-upload:before { content: '\e817'; }
.icon-heart:before { content: '\e818'; }
.icon-heart-filled:before { content: '\e819'; }
.icon-minus-small:before { content: '\e81a'; }
.icon-plus-small:before { content: '\e81b'; }
.icon-globe:before { content: '\e81c'; }
.icon-info:before { content: '\e81d'; }
.icon-angle-small-right:before { content: '\e81e'; }
.icon-angle-small-left:before { content: '\e81f'; }
.icon-arrow-left:before { content: '\e820'; }
.icon-arrow-right:before { content: '\e821'; }
.icon-check:before { content: '\e822'; }
.icon-radio:before { content: '\e823'; }
.icon-radio-filled:before { content: '\e824'; }
.icon-arrow-down:before { content: '\e825'; }
.icon-external-link:before { content: '\e826'; }
.icon-arrow-up:before { content: '\e827'; }
