<<<<<<< HEAD:src/blocks/participants/__button/_active/participants__button_active.scss
.participants__button_active{
    background: var(--color-primary, #7100FF);
    color: var(--light-primary, #FCFAF7);
=======
@use 'variables' as *;

.part__button_active{
    background: $color-primary;
    color: $light-primary;
>>>>>>> develop:src/blocks/part/__button/_active/part__button_active.scss
}