@use 'variables' as *;

.header__wrapper {
  max-height: 88px;
  max-width: $desktop-max;
  margin: $centered;
  padding: $pad-20 $pad-40;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: $mobile) {
  .header__wrapper {
    max-height: 68px;
    padding: $pad-12 $pad-20;
    z-index: 5;
  }
}
