.logo-section__header {
  margin: 40px 0 16px;
}


@media all and (max-width: 767px) {
  .logo-section__header {
    position: relative;
    top: 12px;
    left: 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 20px 0 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}