@use 'variables' as *;

.button_type_amount-minus {
  min-width: 48px;
  width: 48px;
  padding: $pad-12;
  border-radius: $radius-small 0 0 $radius-small;
  border: none;
  background: $color-primary;
  cursor: pointer;
}

@media screen and (max-width: $mobile) {
  .button_type_amount-minus {
    min-width: 44px;
    width: 44px;
  }
}
