@use 'variables' as *;

.form__step-container {
  flex-grow: 1;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0 $pad-40;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: $mobile) {
  .form__step-container {
    padding: 0;
    gap: 0;
  }
}
