<!DOCTYPE html>
<html lang="RU" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="написать">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Евгений Тисленко, Никита Сазонов, Алексей Ефимов, Андрей Марахин, Георгий Медведский, Дмитрий Разумов">
    <title>ГедонизмФест - главная</title>
    <link rel="icon" href="" type="">
</head>

<body class="page">
    <%= require('html-loader!./pages/header.html').default %>

    <main class="content">
      <h2>Тест</h2>
      <!-- временно для навигации -->
      <div>
        <a href="<%=('./catalog.html')%>">Каталог</a>
        <a href="<%=('./for-participants.html')%>">Участникам</a>
        <a href="<%=('./about.html')%>">О фестивале</a>
        <a href="<%=('./thanks-for-application.html')%>">Спасибо за заявку</a>
        <a href="<%=('./thanks-for-support.html')%>">Спасибо за помощь</a>
        <a href="<%=('./404.html')%>">404</a>
        <a href="<%=('./ui-kit.html')%>">UI Kit</a>
        <a href="<%=('./footer.html')%>">Footer</a>
        <a href="<%=('./header.html')%>">Header</a>
      </div>

      <section class="logo-section">
        <div class="logo-section__header">
          <img class="logo-section__image" src="<%=require('./images/Nochlezhka.svg')%>" alt="">
          <button class="logo-section__button">=</button>
        </div>
        <div class="logo-section__container">
          <p class="logo-section__text">узнать больше</p>
          <a class="logo-section__link" href="#about"></a>
        </div>        
      </section>

      <section class="about" id="about">
        <div class="about__wrapper">
          <h2 class="about__title">просто приятно помогать</h2>
          <div class="about__container">
            <p class="about__text">Пейте кофе в любимых заведениях, посещайте интересные мероприятия, устраивайте домашние посиделки с друзьями — и помогайте бездомным!</p>
            <p class="about__text">Целую неделю 26 апреля — 2 мая вся выручка будет перечислена в пользу бездомных.</p>
            <button class="button button_type_border">узнать подробнее</button>
          </div>
        </div>
      </section>

      <section class="events">
        <div class="events__wrapper">
        </div>
      </section>

      <section class="figures">
        <h2 class="figures__title">цифры дня</h2>        
        <div class="figures__container">
          <img class="figures__image" src="<%=require('./images/cookies.svg')%>">
          <div class="figures__text-container">
            <p class="figures__stats">15&nbsp;000</p>
            <p class="figures__text">Столько печенья продали в поддержку акции</p>
          </div>
           
          <img class="figures__image" src="<%=require('./images/flover.svg')%>">
          <div class="figures__text-container">
            <p class="figures__stats">2&nbsp;500</p>
            <p class="figures__text">cтолько обедов приготовили для нуждающихся</p>
          </div>
        </div>       
      </section>  

      <section class="about about_type_event">
        <div class="about__wrapper">
          <h2 class="about__title">примите акцию у&nbsp;себя</h2>
          <div class="about__container">
            <p class="about__text">Кто может принять участие в акции?</p>
            <p class="about__text">Абсолютно все. Продавайте кофе в своем кафе, устройте мастер-класс по вязанию или соберите друзей у себя дома. Помогать просто, узнайте подробности и заполните форму</p>
            <button class="button button_type_border">стать участником</button>
          </div>
        </div>
      </section>

      <section class="gallery">
        <h2 class="gallery__title">#hedonismfest</h2>
        <p class="gallery__subtitle">Ставь хештег и попади в ленту на сайте</p>
        
        <div class="gallery__slider">
          <div class="gallery__slider-line">
            <img class="gallery__image" src="<%=require('./images/coctail.jpg')%>" alt="пикник в парке">
            <img class="gallery__image" src="<%=require('./images/picnic.jpg')%>" alt="девушка с бокалом">
            <img class="gallery__image" src="<%=require('./images/chin-chin.jpg')%>" alt="бокалы с коктейлями">
            <img class="gallery__image" src="<%=require('./images/museum.jpg')%>" alt="девушка в музее">
            <img class="gallery__image" src="<%=require('./images/alco-party.jpg')%>" alt="вечеринка">
          </div>
          <div class="gallery__slider-btn">
            <div class="gallery__slider-radio gallery__slider-radio_active"></div>
            <div class="gallery__slider-radio"></div>
            <div class="gallery__slider-radio"></div>
            <div class="gallery__slider-radio"></div>
            <div class="gallery__slider-radio"></div>
          </div>          
        </div>        
      </section> 

      <section class="team">
        <h2 class="team__title">уже в команде</h2>
        <ul class="team__list">
          <li class="team__element">
            <a class="team__link team__link_type_surf" href="https://www.surfcoffee.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_gallery" href="https://www.galeria.spb.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_market" href="https://www.vo-market.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_surf" href="https://www.surfcoffee.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_gallery" href="https://www.galeria.spb.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_market" href="https://www.vo-market.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_surf" href="https://www.surfcoffee.ru/" target="_blank"></a>
          </li>
          <li class="team__element">
            <a class="team__link team__link_type_gallery" href="https://www.galeria.spb.ru/" target="_blank"></a>
          </li>
        </ul>  
      </section>  
    </main>

    <%= require('html-loader!./pages/footer.html').default %>
</body>

</html>
