<!DOCTYPE html>
<html lang="RU" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="написать">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Евгений Тисленко, Никита Сазонов, Алексей Ефимов, Андрей Марахин, Георгий Медведский, Дмитрий Разумов">
    <title>ГедонизмФест - главная</title>
    <link rel="icon" href="" type="">
</head>

<body class="page">
    <%= require('html-loader!./pages/header.html').default %>

    <main>
      <h2>Тест</h2>
      <!-- временно для навигации -->
      <div>
        <a href="<%=('./catalog.html')%>">Каталог</a>
        <a href="<%=('./for-participants.html')%>">Участникам</a>
        <a href="<%=('./about.html')%>">О фестивале</a>
        <a href="<%=('./thanks-for-application.html')%>">Спасибо за заявку</a>
        <a href="<%=('./thanks-for-support.html')%>">Спасибо за помощь</a>
        <a href="<%=('./404.html')%>">404</a>
        <a href="<%=('./ui-kit.html')%>">UI Kit</a>
        <a href="<%=('./footer.html')%>">Footer</a>
        <a href="<%=('./header.html')%>">Header</a>
      </div>


        </ul>
  
      </section> 
    </main>

    <%= require('html-loader!./pages/footer.html').default %>
</body>

</html>
