@use 'variables' as *;

.question-block {
  padding: $pad-20 0;
  display: flex;
  gap: 40px;
  // justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  border-bottom: $border-light;
  width: 100%;
}

// @media all and (max-width: $aux-1023) {
//   .question-block {
//     padding: $pad-20 $pad-40;
//   }
// }

@media all and (max-width: $mobile) {
  .question-block {
    flex-direction: column;
    padding: $pad-20;
    gap: 16px;
  }
}
