@use 'variables' as *;

.event__description {
  max-width: 620px;
  margin: 0 0 32px 0;
  font: $text-desktop;
  line-height: 24px;
  color: $dark-primary;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .event__description {
    max-width: 320px;
    margin-bottom: 16px;
    font: $text-mobile;
    line-height: 20px;
  }
}
