@use 'variables' as *;

.header {
  position: fixed; // для index.html нужно дописать и включать модификатор, который управляет появлением шапки по скроллу
  top: -50%;
  width: 100%;
  z-index: 1;
  visibility: hidden;
}

