.form__input{
    border: 2px solid var(--dark-secondary, #96949E);
    background: var(--white, #FFF);
    border-radius: 22px;
    padding: 12px 20px;
    margin-bottom: 16px;
}
.form__input:last-child {
    margin: 0;
}