@use 'variables' as *;

.catalog__events-container {
  display: none;
  flex-grow: 1;
  box-sizing: border-box;
  padding: $pad-20 $pad-32 $pad-40; // поставил паддинг 32px, чтобы нормально вставали 3 карточки на десктопе
  background-color: $light-secondary;
}

@media screen and (max-width: $aux-1023) {
  .catalog__events-container {
    padding: $pad-20 $pad-20;
  }
}

@media screen and (max-width: $mobile) {
  .catalog__events-container {
    padding: $pad-20 0;
  }
}
