@use 'variables' as *;

.figures__text-container {
  width: 303px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.figures__text-container:nth-of-type(2) {
  left: 17.7%;
  top: 46%;
}

.figures__text-container:nth-of-type(1) {
  right: 17.7%;
  bottom: 5.9%;
}

@media all and (max-width: $tablet) {
  .figures__text-container:nth-of-type(1) {
    right: 10.7%;
    bottom: 5.9%;
  }
}

@media all and (max-width: 950px) {
  .figures__text-container:nth-of-type(2) {
    left: 0;
    top: 46%;
  }

  .figures__text-container:nth-of-type(1) {
    right: 0;
    bottom: 0;
  }
}

@media all and (max-width: $mobile) {
  .figures__text-container {
    position: static;
    align-items: center;
    margin: 10px 0 38px;
  }
}
