@use 'variables' as *;

.table-lines__item {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  padding: $pad-12;
  min-height: 48px;
  gap: 24px;
}

.table-lines__item:nth-child(2n) {
  background-color: $light-secondary;
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .table-lines__item {
    padding: $pad-8;
    max-height: 36px;
    gap: 16px;
  }
}
